body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXRhcmRlY2VyJTIwbWFyfGVufDB8fDB8fHww&w=1000&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.calculator {
    width: 300px;
    padding: 20px;
    background-color: #ef81035c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #fc01df7c;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #34495e6e;
    border: none;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
    color: #fff;
    background-color: #dccf1aa3;
    border: none;
}

.btn:active {
    background-color: #6002527a;
}

.equals {
    grid-column: span 2;
}

.clear {
    background-color: #ff2a13c8;
}

.clear:active {
    background-color: #52ee0a89;
}

.emoji {
    height: 60px;
    font-size: 24px;
    color: #27ae60;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #9b59b6;
}

.calc {
    color: #000305;
    
}

.scientifica {
    color: #c0de16;
}